@font-face {
    font-family: SuisseIntl;
    src: url("resources/SuisseIntl-Medium.ttf");
    font-weight: bold
}

@font-face {
    font-family: SuisseIntl;
    src: url("resources/SuisseIntl-Regular.ttf");
    font-weight: normal
}

* {
    box-sizing: border-box
}

body {
    font-family: SuisseIntl, Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 100%;
    padding: 2.5%
}

.section {
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

#divider {
    height: 0px;
    border: none;
    border-top: 1px solid black;
    margin: 0 -1rem;
}

.text-label, .color-label {
    display: block;
    max-width: 100%;
}

.color-label {
    white-space: wrap;
}

.input-area {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.5rem;
    max-width: 30rem;
}

#form {
    display: grid;
    grid-template-columns: auto;
    width: 100%
}

.form-item {
    margin-bottom: 2rem;
}

#contact {
    display: inline-block;
    font-size: 0.75rem;
    margin-right: 0.5rem;
}

#contact-link {
    display: inline-block;
    font-size: 0.75rem;
    color: grey
}

.done-dialog {
    margin-bottom: 4rem;
}

.small-text-input {
    border-radius: 0.5rem;
    border: 1px solid black;
    line-height: 1.5rem;
}

.color-input {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    padding: 0.125rem;
}

.color-input:hover {
    background-color: lightgrey;
}

.optional-thoughts-textarea {
    resize: none;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 5rem;
    width: 100;
    font-size: 0.75rem;
    font-family: SuisseIntl, Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
}

.form-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    margin-bottom: 4rem;
    max-width: 30rem;
    position: relative;
}

.button {
    background-color: white;
    height: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button:last-of-type {
    margin-right: 0;
}

.button:hover{
    background-color: black;
    color: white;
}

#link-copied {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    bottom: -125%;
    right: 25%;
    transform: translate(50%, 0);
    font-size: 0.75rem;
    padding: 0 1rem;
    background-color: lightgrey;
    line-height: 1.5rem;
    border-radius: 0.5rem;
}

#link-copied.visible{
    visibility: visible;
    opacity: 1;
}

#link-copied.fade-out {
    visibility: visible;
    opacity: 0;
}